@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

:root{
  --red: #d01c28;
  --grey: #2e2e2e;
}

*{
  margin:0;

}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.logo img{
  width: 60px;
  height: auto;
}

nav{
  display:flex;
  justify-content: space-between;
  
  height:72px;

  align-items: center;
}

nav ul{
  display:flex;
  flex-direction: row;
  list-style:none;
  gap:24px;
}
.container{
  margin:0 auto;
  max-width:1280px;
}
button{
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color: white;
  font-weight: 500;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center; /* Center content horizontally */
  height: calc(100vh - 72px); /* Correct calc usage */
  text-align: center; /* Center text within the element */
}

.hero h1 {
  font-weight: 800;
  line-height: 102px;
  font-size: 108px;
}

.hero p{
  font-weight: 600;
  color:var(--grey);
  max-width: 400px;
}

.hero-button{
  display: flex;
  gap: 40px;
}

.brand-icons img{
  width: 50px;
  height: auto;
}

.secondary-btn{
  background: transparent;
  color: grey;
  border: 1px solid grey;
}

.shopping p{
  font-size:40px;
  margin-bottom: 8px;
}

.brand-icons{
  display: flex;
  gap: 16px;
}

.hero-content{
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-left: 50px;
}

.hero-image {
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  margin-top: 90px; /* Add space above the image if needed */
  max-width: 100%; /* Ensure the container does not exceed its parent’s width */
  text-align: center; /* Center text if any within this container */
  width:1300px;
}

.hero-image img {
  max-width: 100%; /* Ensure the image scales with the container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove bottom space/gap */
}
